<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inmobiliaria_2022</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inmobiliaria_2022.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inmobiliaria</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">   
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                        @if (!User.Identity.IsAuthenticated){ <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index"></a></li>}
                        else{
                            @if (User.IsInRole("Administrador")){
                               <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a></li>}
                        
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Propietarios" asp-action="Index">Propietario</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Inquilinos" asp-action="Index">Inquilino</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Inmuebles" asp-action="Index">Inmueble</a> </li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Contratos" asp-action="Index">Contrato</a></li> 
                         
                        <li class="nav-item dropdown user user-menu" >
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                <img src="@(User.FindFirst("Avatar").Value)" class="rounded-circle" alt="Cinque Terre" width="30" height="30">
                                <span class="hidden-xs">@User.Identity.Name</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-left">
                            <!-- User image -->
                              <li class="user-header bg-primary">
                                    <img src="@(User.FindFirst("Avatar").Value)" class="rounded-circle" alt="Cinque Terre" width="200" height="200">
                                <ul class="list-group mb-2">
                                    <li class="list-group-item active text-center bg-primary">@(User.FindFirst("FullName").Value)</li>
                                    <li class="list-group-item text-center text-primary">@(User.FindFirst("TipoDeUsuario").Value)</li>
                                </ul>
                              </li>                                            
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a class="dropdown-item text-dark" asp-controller="Usuarios" asp-action="CambiarClave">Cambiar Clave</a>
                                    <a class="dropdown-item text-dark" asp-controller="Usuarios" asp-action="Cambiaravatar">Cambiar Avatar</a>
                                    <a class="dropdown-item text-dark" asp-controller="Usuarios" asp-action="Perfil">Cambiar Perfil</a>
                                    <a class="dropdown-item text-dark" asp-controller="Usuarios" asp-action="Logout">Salir</a>
                                </div>
                            </li>
                            </ul>
                    </li>}
                     </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container"><main role="main" class="pb-3">@RenderBody()</main></div>

    <footer class="border-top footer text-muted"><div class="container">&copy; 2022 - Inmobiliaria_2022 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></div></footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>