@model Inmobiliaria_2022.Models.Pago

@{ViewData["Title"] = "Crear";}

<div class="card bg-light border border-primary">
        <div class="card-header border-bottom border-primary bg-light"><h4 class="card-title text-primary">Nuevo Pago</h4></div>
        <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Numero" class="control-label" ></label>

                @if (ViewBag.Pago == null){
                    <input asp-for="Numero" class="form-control" value="1" required readonly/>
                }
                else{int num = int.Parse(@ViewBag.Pago.Numero) +1;
                    <input asp-for="Numero" class="form-control" value="@num" />

                }
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control required" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Importe" class="control-label"></label>
                <input asp-for="Importe" class="form-control required" />
                <span asp-validation-for="Importe" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Propiedad</label>
                <input class="form-control" value="@ViewBag.Contrato.inmueble.Direccion @ViewBag.Contrato.inmueble.Costo"  readonly/> 
            </div>  

            <div class="form-group">
                <label class="control-label">Inquilino</label>
                <input class="form-control" value="@ViewBag.Contrato.inquilino.Nombre @ViewBag.Contrato.inquilino.Apellido" readonly />
            </div>
            <input asp-for="ContratoId" class="form-control" type="hidden" value="@ViewBag.Contrato.Id" />@*exit*@
            
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-controller="Pagos" asp-action="ListaPagos" asp-route-id="@ViewBag.Contrato.Id">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
