@model Inmobiliaria_2022.Models.Pago

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Numero" class="control-label" ></label>

                @if (ViewBag.Pago == null){
                    <input asp-for="Numero" class="form-control" value="1" reandoly/>
                }
                else{
                    int num = int.Parse(@ViewBag.Pago.Numero) +1;
                    <input asp-for="Numero" class="form-control" value="@num" />

                }
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control required" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Importe" class="control-label"></label>
                <input asp-for="Importe" class="form-control required" />
                <span asp-validation-for="Importe" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Propiedad</label>
                <input class="form-control" value="@ViewBag.Inmueble.Costo" readonly/> 
            </div>

            <div class="form-group">
                <label class="control-label">Inquilino</label>
                <input class="form-control" value="@ViewBag.Inquilino.Nombre" readonly />
            </div>
            <input asp-for="ContratoId" class="form-control" type="hidden" value="@ViewBag.Contrato.Id" />@*exit*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
