@model Inmobiliaria_2022.Models.Pago

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Importe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Importe)
        </dd>
        <dt class = "col-sm-2">
@*            @Html.DisplayNameFor(model => model.ContratoId)
*@            Contrato
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrato.Descripcion)
            @Html.DisplayFor(model => model.Contrato.FechaAlta)
            @Html.DisplayFor(model => model.Contrato.FechaBaja)
            @Html.DisplayFor(model => model.Contrato.Monto)
        </dd>
      @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Buscar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Buscar)
        </dd>*@
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  }) |
    <a asp-action="Index">Volver al listado</a>
</div>
