@model IEnumerable<Inmobiliaria_2022.Models.Pago>

@{
    ViewData["Title"] = "Listapago";
    //var pag = Model.First();
    //var numPago = Model.Count()+1;
}

<div class="border border-primary rounded bg-light">

    <div class="row mt-2 mb-2">
        <div class="col-sm ml-1">
            <ul class="nav">
                <li class="nav-item">
                    <p class="nav-link font-weight-bold m-0">
                        @*<a class="text-success" data-tip="tooltip" title="Inquilino" data-placement="top">@pag.Contrato.inquilino.Nombre @pag.Contrato.inquilino.Apellido</a> 
                        <a class="text-info" data-tip="tooltip" title="Dirección" data-placement="top">@pag.Contrato.inmueble.Direccion</a>*@
                    </p>
                </li>
            </ul>

        </div>

        <div class="col-sm-2 mr-2 ml-2">
            <a class="btn btn-outline-primary rounded-left" data-toggle="modal" data-target="#modalAgregarPago" title="Agregar Pago">
                <i class="fas fa-plus">Pago</i>
            </a>@*+*@
        </div>

    </div>

    @*modal de AgregarPago*@
    <div class="card bg-light">       
        <div class="modal fade" id="modalAgregarPago" tabindex="-1" aria-labelledby="modalAgregar" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Pago</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        @*asp-controller="Pagos"*@
                        <form class="needs-validation" novalidate asp-action="Create">
                            <div class="form-group">
                                <label for="num" class="control-label">Numero</label>
                                @*<input type="text" id="num" name="Numero" class="form-control" value="@numPago" required readonly />*@

                                <div class="invalid-feedback">
                                    Ingrese Numero
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="date" class="control-label">Fecha</label>
                                <input type="datetime-local" id="date" name="Fecha" class="form-control" required />
                                <div class="invalid-feedback">
                                    Ingrese Fecha
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="imp" class="control-label">Importe</label>
                                <input type="number" id="imp" name="Importe" class="form-control" required />
                                <div class="invalid-feedback">
                                    Ingrese Importe
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Propiedad</label>
                                @*<input class="form-control" value="@pag.Contrato.inmueble.Direccion" readonly /> @*solo lectura*@
                                @*<input for="AlquilerId" class="form-control" name="id" value="@pag.ContratoId" hidden />*@
                            </div>

                            <div class="form-group">
                                @{
                                    <label class="control-label">Inquilino</label>
                                    //<input class="form-control" value="@pag.Contrato.inquilino.Nombre @pag.Contrato.inquilino.Apellido" readonly />
                                }
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Crear</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="card-body">
            <table class="table table-hover table-bordered w-100" id="dtHorizontalVertical">
                <thead class="table-info">
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.Numero)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Importe)
                        </th>


                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model!=null)
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Numero)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Importe)
                            </td>
                            <td class="d-flex justify-content-center">
                                <div class="btn-group" role="group">

                                    <a asp-action="Edit" class="btn btn-primary disabled">Editr</a>
                                    <a asp-action="Delete" class=" btn btn-danger disabled">Eliminar</a>

                                </div>
                            </td>
                        </tr>}
                </tbody>
            </table>
        </div>
    </div>
</div>

   @* <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>*@
