@model IEnumerable<Inmobiliaria_2022.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
}

<h1>Inmuebles</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Superficie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitud)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.EstaPublicado)
            </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.PropietarioId)*@
                Propietario
            </th>
            <th style="display:none;">
                @Html.DisplayNameFor(model => model.Propietario.Dni)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ambientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Superficie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.EstaPublicado)
            </td>*@
           @* <td>
                @Html.DisplayFor(modelItem => item.PropietarioId)
            </td>*@
            <td>
					@(item.Propietario.Nombre + " " + item.Propietario.Apellido)
			</td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new {id=item.Id })
               
            </td>
        </tr>
}
    </tbody>
</table>
