@model IEnumerable<Inmobiliaria_2022.Models.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaBaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.InmuebleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InquilinoId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaBaja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.InmuebleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InquilinoId)
            </td>*@
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Detalles", "Details", new {  id=item.Id  }) |
                @Html.ActionLink("Eliminar", "Delete", new {  id=item.Id  }) |
                <a asp-controller="Pagos" asp-action="ListaPagos" asp-route-id="@item.Id" title="Lista de pagos">Lista de Pagos</a>
            </td>
        </tr>
}
    </tbody>
</table>
